.card-title-address{
    color: #681c1c;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin: 1rem;
}
.container-speaker{
    padding: 15px;  
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-body{
    text-align: center;
    background-color: #fef0e6;
}
.row-2{
    display: flex;
    justify-content: center;
    padding: 20px;
    opacity: 0.85;
    width: 100%;
}
.card-title{
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
}
.card-text{
    color: black;
    font-weight: 600;
    font-size: .8rem;
}
@media only screen and (max-width: 400px){
    .container-speaker{
        padding: 0;
        margin: 0;
    }
    .row-2{
        padding: 0;
        margin: 0;
    }
    .card-title-address{
        font-size: .8rem;
        margin: 4px;
    }
    .card-title{
        font-size: 0.6rem;
    }
    .card-text{
        font-size: .4rem;
    }
    .card{
        width: 50%;
    }
    .container-speaker{
        padding: 0;
    }
}