
.container-contact{ 
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-body-contact{
    justify-content: space-around;
    padding: 1.5rem;
    align-items: center;
    text-align: center;
    background-color: #fef0e6e3;
}
.card-title-contact{
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}
.card-body-contact{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
.to-reach-content{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.to-reach{
    font-size: 30px;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 1px;
    color: #0c2b87;
    margin-left: 2rem;
}
iframe {
    width: 600px;
    height: 450px;
}
.left-reach{
    display: flex;
    padding: 1rem;
}
iframe {
    width: 350px;
    height: 350px;
}
.right-reach{
    float: right;
    width: 50%;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heading-reach{
    font-size: 20px;
    font-weight: 600;
}
.body-reach{
    font-size: 12px;
    font-weight: 500;
    text-align: justify;
}
.byIcon{
    height: 40px;
    width: 40px;
    background-color: #1dc2f9;
    padding: 8px;
    border-radius: 10px;
}
.to-reach-table{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 400px){
    .row-2{
        width: 85%;
        display: flex;
        flex-direction: column;
    }
    .card-body-contact h5{
        font-size: 1.2rem;
    }
     .card-contact{
        width: 100%;
     }
     .row-2 p{
            font-size: 1rem;
        }
}