
.co-heading{
    margin: 2rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    background-color: #ac492e;
    color: #fef0e6e3;
    padding: .6rem;
    font-family: "Poppins", sans-serif;
    border-radius: 10rem;
}
.card{
    margin: 1rem;
    opacity: 0.85;
}
.card-title-committees{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.card-text-committees{
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin: 5px;
    font-family: "Poppins", sans-serif;
}
.card-committees{
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.75;
}
.column-committee {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row-committee {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row-committee:after {
    content: "";
    display: table;
    clear: both;
  }
    .card-committee {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 1rem;
    text-align: center;
    background-color: #fef0e6e3;
  }
  .card-committee h5{
    font-size: 1rem;
  }
@media only screen and (max-width: 400px){
    .co-heading{
        font-size: 1.8rem;
    }
    .card-body-committees p{
        font-size: .8rem;
    }
    .column-committee {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
}