
.body{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1rem;
    text-align: left;
}
.table-container{
    height: auto;
}
.sponsor-heading{
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10rem;
    margin: 1rem;
}
.sponsor-heading-platinum{
    background-color: #c8d3e2;
    color: #35383b;
    border-radius: 10rem;
    font-weight: 700;
    padding: .4rem;
    font-size: 1.5rem;
}
.sponsor-heading-gold{   
    background-color: gold;
    color: rgb(97, 83, 0);
    border-radius: 10rem;
    font-weight: 700;
    padding: .4rem;
    font-size: 1.5rem;
  
}
.sponsor-heading-silver{
    background-color: silver;
    color: rgb(71, 71, 71);
    border-radius: 10rem;
    font-weight: 700;
    padding: .4rem;
    font-size: 1.5rem;
}
.sponsor-heading-bronze{
    background-color: #a06b44;
    color: #3b2819;
    border-radius: 10rem;
    font-weight: 700;
    padding: .4rem;
    font-size: 1.5rem;
}
.table{
    width: 55%;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgb(186, 108, 108);
    opacity: 0.8;
   }
   .t-head-sponsor{
    font-size: 1.1rem;
    font-weight: 600;
    color: #681c1c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
   }
   .spon-opper{
    margin: 2rem;
   }
   .head-spon-down{
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0c2b87;
    margin: 5px;
   }
   .body-spon-down{
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #681c1c;
    margin: 10px;
   }
   

   @media only screen and (max-width: 400px){
    .body{
        font-size: .7rem;
        margin: 6px;
    }
    .sponsor-heading{
        font-size: 1rem;
    }
    .sponsor-heading-platinum{
        font-size: .8rem;
    }
    .sponsor-heading-gold{
        font-size: .8rem;
    }
    .sponsor-heading-silver{
        font-size: .8rem;
    }
    .sponsor-heading-bronze{
        font-size: .8rem;
    }
    .table{
        width: 100%;
        height: 200px;
    }
    .t-body{
        font-size: .6rem;
    }
    .t-head-sponsor{
        font-size: .65rem;
    }
    .spon-opper{
        margin-left: 1rem;
       }
       .head-spon-down{
        font-size: .8rem;
        margin: 0;
       }
       .body-spon-down{
        font-size: .6rem;
        margin: 0;
       }
   }